﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<address>
    923 Robie Street<br />
    Halifax, NS B3H 3C3<br />
    Canada<br />
    <abbr title="Phone">Phone:</abbr>
    (902) 420-5400
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@hotelhalifax.com">support@halifaxhotel.com</a><br />
</address>
