﻿@using Project.Models
@model Project.ViewModels.ViewModelReservationPage

@{
    ViewBag.Title = "ReservationPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Id == 0)
{
    <h1>Add Reservation</h1>
}
else
{
    @Model.Id
    <h1>Edit Reservation</h1>
}


@using (Html.BeginForm("ReservationInfo", "Reservation"))
{
    @Html.ValidationSummary(true, "Please correct all errors.", new { @style = "color: red" })
    <h4>Reservation</h4>
    
    @Html.HiddenFor(m=>m.Id)
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Reservation.HotelId)
                        @Html.DropDownListFor(m => m.Reservation.HotelId, new SelectList(Model.Hotels, "Id", "Name"), "Select Hotel", new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Reservation.HotelId)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Reservation.ReservationStatus, "Reservation Status")
                        @Html.TextBoxFor(m => m.Reservation.ReservationStatus, new { @class = "form-control", @readonly = "readonly" })
                        
                        @Html.ValidationMessageFor(m => m.Reservation.ReservationStatus)
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Reservation.CheckInDate, "Check In")
                        @Html.TextBoxFor(m => m.Reservation.CheckInDate, "{0: d MMM yyyy}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Reservation.CheckInDate)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Reservation.CheckOutDate, "Check Out")
                        @Html.TextBoxFor(m => m.Reservation.CheckOutDate, "{0: d MMM yyyy}", new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Reservation.CheckOutDate)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Reservation.RoomNumber, "Room Number")
                        @Html.DropDownListFor(m => m.Reservation.RoomNumber, new SelectList(new[] { "Room 101", "Room 102", "Room 103", "Room 104", "Room 105" }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Reservation.RoomNumber)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Reservation.Guests, "Number of Guests")
                        @Html.DropDownListFor(m => m.Reservation.Guests, new SelectList(new[] { "1", "2", "3" }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Reservation.Guests)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />

    <h4>Contact Information</h4>


    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.FirstName, "First Name")
                        @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.FirstName)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.LastName, "Last Name")
                        @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.LastName)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.StreetNumber, "Street Number")
                        @Html.TextBoxFor(m => m.Customer.StreetNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.StreetNumber)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.StreetName, "Street Name")
                        @Html.TextBoxFor(m => m.Customer.StreetName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.StreetName)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.City, "City")
                        @Html.TextBoxFor(m => m.Customer.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.City)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.Province, "Province")
                        @Html.DropDownListFor(m => m.Customer.Province, new SelectList(new[]{ "AB", "BC", "MB", "NB", "NL", "NS", "NT", "NU", "ON", "PE", "QC", "SK", "YT" }), new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Customer.Province)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.PostalCode, "Postal Code")
                        @Html.TextBoxFor(m => m.Customer.PostalCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.PostalCode)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.Country, "Country")
                        @Html.DropDownListFor(m => m.Customer.Country, new SelectList(new[] { "Canada" }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Country)

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.PhoneNumber, "Phone Number")
                        @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.PhoneNumber)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Customer.Email, "Email")
                        @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Email)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />

    <h4>Credit Card</h4>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.CreditCard.CreditCardType, "Credit Card Type")
                        @Html.DropDownListFor(m => m.CreditCard.CreditCardType, new SelectList(new[] { "Visa", "Master Card", "Amex" }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CreditCard.CreditCardType)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.CreditCard.CreditCardName, "Credit Card Name")
                        @Html.TextBoxFor(m => m.CreditCard.CreditCardName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CreditCard.CreditCardName)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="row col-md-offset-1 col-md-11">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.CreditCard.CreditCardNumber, "Credit Card Number")
                        @Html.TextBoxFor(m => m.CreditCard.CreditCardNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CreditCard.CreditCardNumber)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.CreditCard.ExpiryDate, "Expiry Date")
                        @Html.TextBoxFor(m => m.CreditCard.ExpiryDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CreditCard.ExpiryDate)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11" style="padding-left: 8.5%">
            <button type="submit" class="btn btn-default">Submit Form</button>
            <button type="reset" class="btn btn-default">Clear Form</button>
        </div>
    </div>

        <br />
        <br />

}