﻿@{
    ViewBag.Title = "ReservationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ReservationSuccessInfo", "Reservation"))
{
    <h2>Reservation Complete!</h2>

    <br/>

    <h3>Thank you for booking with Hotel Halifax. You'll receive confirmation by e-mail.</h3>
    
    <br />
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11" style="padding-left: 8.5%">
            <button type="submit" class="btn btn-default">Ok</button>
        </div>
    </div>
}
