﻿@{
    ViewBag.Title = "ReservationEditSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ReservationEditSuccessInfo", "Reservation"))
{
    <h2>Edit Successful!</h2>

    <br />

    <h3>Thank you for updating your booking with Hotel Halifax. You'll receive confirmation by e-mail.</h3>

    <br />
    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-1 col-md-11" style="padding-left: 8.5%">
            <button type="submit" class="btn btn-default">Ok</button>
        </div>
    </div>
}
