﻿@using Project.Models
@model IEnumerable<Project.Models.Reservation>
@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Reservation History</h4>
<br />
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>
                <center>Reservation Id</center>
            </td>
            <td>
                <center>Customer Name</center>
            </td>
            <td>
                <center>Check-in Date</center>
            </td>
            <td>
                <center>Check-out Date</center>
            </td>
            <td>
                <center>Current Status</center>
            </td>
            <td colspan="3">
                <center>Actions</center>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (Reservation reservation in Model)
        {
            <tr>
                <td>
                    @reservation.ReservationId
                </td>
                <td>
                    @reservation.Customer.FirstName &nbsp; @reservation.Customer.LastName 
                </td>
                
                <td>
                    @reservation.CheckInDate.ToShortDateString()
                </td>
                <td>
                    @reservation.CheckOutDate.ToShortDateString()
                </td>
                <td>
                    @if (reservation.ReservationStatus == "Cancel")
                    {
                        <div style="color:#ff0000">@Html.Label("Cancelled")</div>
                    }
                    else
                    {
                        @reservation.ReservationStatus
                    }
                </td>
                <td>
                    @Html.ActionLink("Detail", "ReservationDetail", "Reservation",new{ id=reservation.ReservationId},null)
                </td>
                <td>
                    @if (reservation.CheckInDate < DateTime.Today)
                    {
                        @Html.Label("Expired")
                    }
                    else if (reservation.ReservationStatus == "Cancel")
                    {
                        <div style="color:#808080">@Html.Label("Cancelled")</div>
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "CancelReservation", "Reservation", new { id = reservation.ReservationId }, null)
                    }
                </td>
                <td>
                    @if (reservation.ReservationStatus == "Cancel")
                    {
                        <div style="color:#808080">@Html.Label("Edit")</div>
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", "Reservation", new { id = reservation.ReservationId }, null)
                    }
                </td>
            </tr>

        }
    </tbody>
    
</table>

