﻿@model Project.Models.Reservation
@{
    ViewBag.Title = "ReservationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4>Reservation Details</h4>
        </div>
    </div>

    <div class="row">
        
            @if (Model.ReservationStatus == "Cancel")
            {
                <div class="col-lg-12" style="color: #ff0000;">
                    Reservation Status: Cancelled
                </div>
            }
            else
            {
                <div class="col-lg-12">
                    Reservation Status: @Model.ReservationStatus
                </div>
            }
        <div class="col-lg-12">
            Check-In Date: @Model.CheckInDate.ToString("dd/MMM/yyyy")
        </div>
        <div class="col-lg-12">
            Check-out Date: @Model.CheckOutDate.ToString("dd/MMM/yyyy")
        </div>
        <div class="col-lg-12">
            Hotel Name: @Model.Hotel.Name
        </div>
        <div class="col-lg-12">
            Hotel Address: @Model.Hotel.Address
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <h4>Customer Information</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            First Name: @Model.Customer.FirstName
        </div>
        <div class="col-lg-12">
            Last Name: @Model.Customer.LastName
        </div>
    </div>
    
    <br />

    <div class="row">
        <div class="col-lg-12">
            <h4>Address</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Street Number: @Model.Customer.StreetNumber
        </div>
        <div class="col-lg-12">
            Street Name: @Model.Customer.StreetName
        </div>
        <div class="col-lg-12">
            Province: @Model.Customer.Province
        </div>

        <div class="col-lg-12">
            City: @Model.Customer.City
        </div>

        <div class="col-lg-12">
            Postal Code: @Model.Customer.PostalCode
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <h4>Contact Information</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Phone Number: @Model.Customer.PhoneNumber
        </div>

        <div class="col-lg-12">
            Email Id: @Model.Customer.Email
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-lg-12">
            <h4>Credit Card Information</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Type of Card: @Model.CreditCard.CreditCardType
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Name on the Card: @Model.CreditCard.CreditCardName
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Card Number: @Model.CreditCard.CreditCardNumber
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Expiry date: @Model.CreditCard.ExpiryDate
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6 text-center">
            @Html.ActionLink("Back to Reservation List", "ReservationList", "Reservation")

        </div>
        <div class="col-lg-6">
            @if (Model.ReservationStatus == "Active" && Model.CheckInDate > DateTime.Today)
            {
                @Html.ActionLink("Cancel Reservation", "CancelReservation", "Reservation", new { id = Model.ReservationId }, null)
            }
        </div>
    </div>
</div>
