﻿@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Hotel Halifax", "Index", "Reservation", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                 
                <li>@Html.ActionLink("Home", "Index", "Reservation")</li>
                <li>@Html.ActionLink("About", "About", "Reservation")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Reservation")</li>
            @if (!User.Identity.GetUserId().IsNullOrWhiteSpace())
            {
                <li>@Html.ActionLink("Reserve", "ReservationPage", "Reservation")</li>
                <li>@Html.ActionLink("Reservation History", "ReservationList", "Reservation")</li>
            }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Hotel Halifax</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
